body,
html {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  max-height: 100vh;
  line-height: 16px;
  font-variation-settings: "slnt" 0;
  -webkit-font-smoothing: antialiased;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

ul img {
  width: 150px;
  height: 150px;
}
ul {
  list-style-type: none;
  margin: 0 auto;
}

ul {
  display: grid;
  grid-template-rows: auto auto auto;
  column-gap: 50px;
  grid-auto-flow: column;
  height: calc(-62px + 70vh);
  overflow: scroll;
  width: calc(-52px + 90vw);
  /* width: 100%; */
  scrollbar-width: none;
}

ul button {
  all: unset;
  cursor: pointer;
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.modal img{
  width: 50%;
}